examples/matter-bridge.json
[{"id":"4e5ed70961f5bb77","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f573658a4f264bb7","type":"matterbridge","name":"Test","vendorId":"0xFFF1","productId":"0x8000","vendorName":"Node-RED-Matter","productName":"Node-RED-Bridge","networkInterface":"en0","logLevel":"WARN"},{"id":"662154d736357b10","type":"matteronofflight","z":"4e5ed70961f5bb77","name":"Light","bridge":"f573658a4f264bb7","passthrough":"true","x":410,"y":440,"wires":[["c7139022d0d3ccd4"]]},{"id":"1345e94e9d63e6c9","type":"inject","z":"4e5ed70961f5bb77","name":"Toggle","props":[{"p":"payload.state","v":"toggle","vt":"str"},{"p":"topic","vt":"str"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":440,"wires":[["662154d736357b10"]]},{"id":"c7139022d0d3ccd4","type":"debug","z":"4e5ed70961f5bb77","name":"msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":440,"wires":[]},{"id":"30c6c7031137e53e","type":"inject","z":"4e5ed70961f5bb77","name":"toggle","props":[{"p":"payload.state","v":"toggle","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":600,"wires":[["6cb2cc1d97198aec"]]},{"id":"c06dc163bbd885ae","type":"debug","z":"4e5ed70961f5bb77","name":"payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":640,"wires":[]},{"id":"e3891faf2a58d357","type":"inject","z":"4e5ed70961f5bb77","name":"50","props":[{"p":"payload.level","v":"50","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":640,"wires":[["6cb2cc1d97198aec"]]},{"id":"e9f2bcc74ffb16fe","type":"inject","z":"4e5ed70961f5bb77","name":"100","props":[{"p":"payload.level","v":"100","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":680,"wires":[["6cb2cc1d97198aec"]]},{"id":"6cb2cc1d97198aec","type":"matterdimmablelight","z":"4e5ed70961f5bb77","name":"Dimmer","bridge":"f573658a4f264bb7","range":"100","passthrough":"true","x":420,"y":640,"wires":[["c06dc163bbd885ae"]]},{"id":"90cf1f8528f1c351","type":"inject","z":"4e5ed70961f5bb77","name":"254","props":[{"p":"payload.level","v":"254","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":720,"wires":[["6cb2cc1d97198aec"]]},{"id":"c7656ebd4506ac9b","type":"inject","z":"4e5ed70961f5bb77","name":"On & 75","props":[{"p":"payload.level","v":"75","vt":"num"},{"p":"payload.state","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":760,"wires":[["6cb2cc1d97198aec"]]},{"id":"f194324ae156a0e1","type":"matteronoffsocket","z":"4e5ed70961f5bb77","name":"Socket","bridge":"f573658a4f264bb7","passthrough":"false","x":420,"y":840,"wires":[["76e3dd8e9053cff7"]]},{"id":"e113f8449472c774","type":"inject","z":"4e5ed70961f5bb77","name":"On","props":[{"p":"payload.state","v":"on","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":520,"wires":[["6cb2cc1d97198aec"]]},{"id":"f2113d0e6b6b984c","type":"inject","z":"4e5ed70961f5bb77","name":"Off","props":[{"p":"payload.state","v":"off","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":560,"wires":[["6cb2cc1d97198aec"]]},{"id":"35b43c8a6b4a0fc8","type":"inject","z":"4e5ed70961f5bb77","name":"On","props":[{"p":"payload.state","v":"on","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":840,"wires":[["f194324ae156a0e1"]]},{"id":"ae54ff704108e068","type":"inject","z":"4e5ed70961f5bb77","name":"Off","props":[{"p":"payload.state","v":"off","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":880,"wires":[["f194324ae156a0e1"]]},{"id":"76e3dd8e9053cff7","type":"debug","z":"4e5ed70961f5bb77","name":"payload","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":840,"wires":[]}]